# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.dist-info/
.venv/
venv/

# Django
db.sqlite3
media/
staticfiles/
static/*
!static/contabill/
!static/contabill/js/
!static/contabill/js/lancamentos.js

# Env & IDE
.env
.env.*
.vscode/
.idea/

# Node
node_modules/
.yarn/
.yarnrc.yml