{% extends "partials/base.html" %}
{% block title %}Moedas{% endblock title %}
{% block content %}
<div class="main-content"><div class="page-content"><div class="container-fluid">
{% include "partials/page-title.html" with pagetitle="Financeiro" title="Moedas" %}
<div class="card"><div class="card-body">
<table class="table table-striped table-hover"><thead class="table-light"><tr><th>Cód</th><th>Identificador</th><th>Descrição</th><th>Símbolo</th><th></th></tr></thead>
<tbody>
{% for obj in object_list %}
<tr><td>{{ obj.id }}</td><td>{{ obj.codigo }}</td><td>{{ obj.descricao }}</td><td>{{ obj.simbolo }}</td><td class="text-end"><a href="{% url 'contabill:moedas_editar' obj.pk %}" class="btn btn-sm btn-primary">Editar</a> <a href="{% url 'contabill:moedas_excluir' obj.pk %}" class="btn btn-sm btn-danger">Excluir</a></td></tr>
{% empty %}<tr><td colspan="4" class="text-center">Nenhum registro</td></tr>{% endfor %}
</tbody></table>
<a href="{% url 'contabill:moedas_criar' %}" class="btn btn-success">Nova Moeda</a>
</div></div></div></div></div>
{% endblock content %}
